<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
	<title>以太零社区治理</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/dropload.css">
	<style>
		/* html,body,.content,.header{height: 100%;overflow: hidden;} */
	</style>
</head>
<body>
	<div class="content">
		<div class="header">
			<div class="rule">
        <a href="/vote/rule">
          <span>活动规则</span>
        </a>
			</div>
			<div class="title tada">
				<img src="/images/logo.png" alt="">
			</div>	
			<div class="register">
					<a href="/vote/register">
             提交提案
          </a>
			</div>
			<div class="search">
				<input type="text" placeholder="请输入提案名称或编号">
				<span>搜索</span>
			</div>
		</div>
		<div class="lists">
				<div class="coming-box">
						<ul class="coming">
						</ul>
				</div>
		</div>
        
	</div>
  <div class="mask">
    <div class="submit_info">
    </div>
  </div>
</body>
<script src="/javascripts/zepto.min.js"></script>
<script src="/javascripts/dropload.js"></script>
<script src="/javascripts/vote.js"></script>
<script type="text/javascript" src="/javascripts/jquery.min.js "></script>
<script type="text/javascript" src="/javascripts/layout.js"></script>
</html>