<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
	<title>Etherzero community governance	</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/dropload.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/simplePagination.css" />
	<style>
		/* html,body,.content,.header{height: 100%;overflow: hidden;} */
	</style>
	<script type="text/javascript" src="/javascripts/web3.min.js"></script>	
</head>
<body>
	<div class="content header_bg">
		<div class="header">
			<div class="logo tada">
				<img src="/images/logo_min.png" alt="">
			</div>	
			<div class="dropdown ">
				<a href="# " class="dropdown-toggle " data-toggle="dropdown ">language<b class="caret "></b></a>
				<ul class="dropdown-menu" style="display: none;">
					<li class="active">
						<a  onclick="en()">English</a>
					</li>
					<li>
						<a  onclick="cn()">中文</a>
					</li>
				</ul>
			</div>
			<div class="search">
				<input type="text" placeholder="Please enter the proposal number">
				<span>Search</span>
			</div>
			<div class="register">
					<a href="/register">
			Submit proposal
          </a>
			</div>
		</div>
		<div class="lists">
				<div class="coming-box">
					<div class="data_show">
						<div class="data_title">
							<h4>This period available budget</h4>
							<p><span id="numetz"></span>&nbspETZ</p>
						</div>
						<div class="data_title">
							<h4>Total proposals number  </h4>
							<p><span id="gproposal_num"></span>&nbspproposals</p>
						</div>
						<div class="data_title">
							<h4>Last period released amount </h4>
							<p><span id=""></span> 0  ETZ</p>
						</div>
					</div>
					<ul class="coming">
					</ul>
					<div class="pagination-holder black clearfix">
						<ul id="dark-pagination" class="pagination"></ul>
					</div>
				</div>
				<div class="right_box">
					<!--div class="show_box">
						<div class="num_box">
							<div>0<span>ETZ</span></div>
							<p>剩余数量</p>
						</div>
						<div class="num_box">
								<div>0<span>ETZ</span></div>
								<p>已资助数量</p>
							</div>						
					</div-->
					<div class="rule_box">
						<h4>Community governance rules</h4>
						<p>
						<h5>Community governance proposal forum address：</h5><a target="_blank" style="color: #999999" href="http://forums.etzvote.com/"> http://forums.etzvote.com/ </a>
						<br/><br/><h5>Community governance contract address：</h5><a target="_blank" style="color: #999999" href="https://etzscan.com/addr/0x4761977f757e3031350612d55bb891c8144a414b"> 0x4761977f757e3031350612d55bb891c8144a414b </a>
						<br/><br/><h5>Community governance voting tutorials:</h5><a target="_blank" style="color: #999999" href="https://www.youtube.com/watch?v=wF3omP5LAEk">https://www.youtube.com/watch?v=wF3omP5LAEk</a>
							<br/><br/><h5>Community governance guide:</h5><a target="_blank" style="color: #999999" href="https://blog.csdn.net/supstar/article/details/82704957">https://blog.csdn.net/supstar/article/details/82704957</a>
						<br/><br/><h5>Current voting period：</h5>The<span id="num"></span>
						<!-- <script type="text/javascript"> VoteIndex </script>	 -->
						Phase
						<br/><br/><h5>Proposal award：</h5>Every 1200 thousand blocks is a voting cycle for proposals. Each submission of a proposal costs 10 ETZ, and this part of ETZ is also rewarded to the proposals.
						<br/><br/><h5>Create a proposal：</h5>Enter the details of a proposal in the proposal created page, clicking on the "create the proposal" button, the goETZ wallet will be called, and the intelligent contract wil be invoked to create a proposal.
						<br/><br/><h5>Master node voting：</h5>Clicking the button that is in agree or against will generate the corresponding command data to call the smart contract. The address conforming to the master node is eligible to vote, and the command data can be copied to any Ethernet zero wallet for voting.
					</p>
					</div>

					<div class="show_box">
							<!--div class="num_box">
								<h2>Reward pool balance：</h2>
								<div><h5><span id="numetz"> </span></h5> <h8>ETZ</h8></div>
							</div-->
							<input type="text" class="reinput wallet_add" placeholder="Please input the entrust wallet access" />
							<a href="#">
								<button class="entrust">Delegate</button>
							</a>
									
					</div>

				</div>
		</div>
        
	</div>
  <div class="mask">
    <div class="submit_info">
    </div>
  </div>
</body>
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript">
	window.addEventListener('load', function() {
		// Checking if Web3 has been injected by the browser (Mist/MetaMask)
		if (typeof web3_etz !== 'undefined') {
			// Use Mist/MetaMask's provider
			web3 = new Web3(web3_etz.currentProvider)
			web3.eth.getCoinbase(console.log)
		} else {
			console.log('No web3? You should consider trying MetaMask!')
			// fallback - use your fallback strategy (local node / hosted node + in-dapp id mgmt / fail)
			web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
		}

		// Now you can start your app & access web3 freely:

	})

$(document).ready(function() {
	$('.dropdown-menu li').click(function(e) {
		//e.preventDefault();  
		$('.dropdown-menu li').removeClass('active');
		$(this).addClass('active');

	});

$(".header-nav ul li").unbind("mouseenter");
			$(".header-nav ul li").unbind("mouseleave");
			$(".header-nav").hide();
			
			$(".mobnav-btn").unbind("click").bind("click", function() {
				if($(".header-nav").is(":hidden")) {
					$(this).addClass("g_close");
					$(".header-nav").show();
				} else {
					$(".header-nav").hide();
					$(this).removeClass("g_close");
				}

			})
			//
			$(".navbar-nav li a").unbind("click").bind("click", function() {					
					$(".header-nav").hide();
					$(".mobnav-btn").removeClass("g_close");

			});
			
			$(".dropdown-toggle").unbind("click").bind("click", function() {
				if($(".dropdown-menu ").is(":hidden")) {
					$(".dropdown-menu ").show();
				} else {
					$(".dropdown-menu ").hide();
					
				}
			});
		});
</script>

<script src="/javascripts/zepto.min.js"></script>
<script src="/javascripts/dropload.js"></script>
<script type="text/javascript" src="/javascripts/jquery.min.js "></script>
<script src="/javascripts/jquery.simplePagination.js"></script>
<script type="text/javascript" src="/javascripts/layout.js"></script>
<script src="/javascripts/vote.js"></script>
</html>