<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
	<title>以太零社区治理</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/dropload.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/simplePagination.css" />
	<style>
		/* html,body,.content,.header{height: 100%;overflow: hidden;} */
	</style>
	<script type="text/javascript" src="/javascripts/web3.min.js"></script>	
</head>
<body>
	<div class="content header_bg">
		<div class="header">
			<div class="logo tada">
				<img src="/images/logo_min.png" alt="">
			</div>	
			<div class="dropdown ">
				<a href="# " class="dropdown-toggle " data-toggle="dropdown ">语言<b class="caret "></b></a>
				<ul class="dropdown-menu" style="display: none;">
					<li>
						<a  onclick="en()">English</a>
					</li>
					<li class="active">
						<a  onclick="cn()">中文</a>
					</li>
				</ul>
			</div>
			<div class="search">
				<input type="text" placeholder="请输入提案编号">
				<span>搜索</span>
			</div>
			<div class="register">
					<a href="/register">
             提交提案
          </a>
			</div>
		</div>
		<div class="lists">
				<div class="coming-box">
						<ul class="coming">
						</ul>
						<div class="pagination-holder black clearfix">
							<ul id="dark-pagination" class="pagination"></ul>						
						</div>
				</div>
				<div class="right_box">
						<div class="rule_box">
							<h4>社区治理规则</h4>
							<p>
							<h5>社区治理提案论坛地址：</h5><a target="_blank" style="color: #999999" href="http://remix.etherzero.org/forum/"> http://remix.etherzero.org/forum/ </a>
							<br/><br/><h5>社区治理合约地址：</h5><a target="_blank" style="color: #999999" href="https://explorer.etherzero.org/addr/0x4831f0a16e15bbf7765ebf3bbea29482b116c1bd"> 0x4831f0a16e15bbf7765ebf3bbea29482b116c1bd </a>
							<br/><br/><h5>主节点合约地址：</h5><a target="_blank" style="color: #999999" href="https://explorer.etherzero.org/addr/0xba69c148a9332c3af6cad30adb1a09f3a1d1b8f7"> 0xba69c148a9332c3af6cad30adb1a09f3a1d1b8f7 </a>
							<br/><br/><h5>当前投票期数：</h5>第<span id="num"></span>
							<!-- <script type="text/javascript"> VoteIndex </script>	 -->
							期
							<br/><br/><h5>提案奖励：</h5>每10万个区块为一个提案的投票周期。每提交一个提案需要消耗50个ETZ，这部分ETZ也被作为提案奖励累积。
							<br/><br/><h5>创建提案：</h5>在提案创建页面输入提案详情，点击“创建提案”按钮后，将调用以太零goETZ钱包，可以调用智能合约创建一个提案。
							<br/><br/><h5>主节点投票：</h5>点击赞成或反对的按钮，会生成相应调用智能合约的命令数据。符合主节点的地址有投票资格，将命令数据拷贝到任何以太零钱包中可以进行投票。
	
						</p>
						</div>
	
						<div class="show_box">
							<div class="num_box">
								<h2>&nbsp 奖励池余额：</h2>
								<div><h5><span id="numetz"> </span></h5> <h8>ETZ</h8></div>
							</div>
							<input type="text" class="reinput wallet_add" placeholder="请输入被委托的钱包地址" />
							<a href="#">
								<button class="entrust">主节点委托</button>
							</a>
									
						</div>
					</div>
		</div>
        
	</div>
  <div class="mask">
    <div class="submit_info">
    </div>
  </div>
</body>
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {
	$('.dropdown-menu li').click(function(e) {
		//e.preventDefault();  
		$('.dropdown-menu li').removeClass('active');
		$(this).addClass('active');

	});

$(".header-nav ul li").unbind("mouseenter");
			$(".header-nav ul li").unbind("mouseleave");
			$(".header-nav").hide();
			
			$(".mobnav-btn").unbind("click").bind("click", function() {
				if($(".header-nav").is(":hidden")) {
					$(this).addClass("g_close");
					$(".header-nav").show();
				} else {
					$(".header-nav").hide();
					$(this).removeClass("g_close");
				}

			})
			//
			$(".navbar-nav li a").unbind("click").bind("click", function() {					
					$(".header-nav").hide();
					$(".mobnav-btn").removeClass("g_close");

			});
			
			$(".dropdown-toggle").unbind("click").bind("click", function() {
				if($(".dropdown-menu ").is(":hidden")) {
					$(".dropdown-menu ").show();
				} else {
					$(".dropdown-menu ").hide();
					
				}
			});
		});
</script>

<script src="/javascripts/zepto.min.js"></script>
<script src="/javascripts/dropload.js"></script>
<script type="text/javascript" src="/javascripts/jquery.min.js "></script>
<script src="/javascripts/jquery.simplePagination.js"></script>
<script type="text/javascript" src="/javascripts/layout.js"></script>
<script src="/javascripts/vote.js"></script>
</html>