<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
	<title>以太零社区治理</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/dropload.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/simplePagination.css" />
	<style>
		/* html,body,.content,.header{height: 100%;overflow: hidden;} */
	</style>
	<script type="text/javascript" src="/javascripts/web3.min.js"></script>	
</head>
<body>
	<div class="content header_bg">
		<div class="header">
			<!-- <div class="rule">
        <a href="/vote/rule">
          <span>活动规则</span>
        </a>
			</div> -->
			<div class="logo tada">
				<img src="/images/logo_min.png" alt="">
			</div>	
			<div class="search">
				<input type="text" placeholder="请输入提案名称或编号">
				<span>搜索</span>
			</div>
			<div class="register">
					<a href="/vote/register">
             提交提案
          </a>
			</div>
		</div>
		<div class="lists">
				<div class="coming-box">
						<ul class="coming">
						</ul>
						<div class="pagination-holder black clearfix">
							<ul id="dark-pagination" class="pagination"></ul>						
						</div>
				</div>
				<div class="right_box">
					<!--div class="show_box">
						<div class="num_box">
							<div>0<span>ETZ</span></div>
							<p>剩余数量</p>
						</div>
						<div class="num_box">
								<div>0<span>ETZ</span></div>
								<p>已资助数量</p>
							</div>						
					</div-->
					<div class="rule_box">
						<h4>提案规则</h4>
						<p>为了防止垃圾提案，提交提案需要消耗50个ETZ，这部分ETZ在智能合约中被作为提案奖励累积。每10万个区块为一个提案的投票周期。提案参与到发起时间所属的投票周期内。在提案创建页面，输入提案详情，点击“创建提案”按钮后，将以太零goETZ钱包，可以发起交易创建一个提案，完成调用运行智能合约，这一过程需要支付50个ETZ。提案会被广播到以太零全网，等待主节点进行投票。</p>
					</div>
				</div>
		</div>
        
	</div>
  <div class="mask">
    <div class="submit_info">
    </div>
  </div>
</body>
<script type="text/javascript">
	window.addEventListener('load', function() {
	console.log('33333');
		// Checking if Web3 has been injected by the browser (Mist/MetaMask)
		if (typeof web3_etz !== 'undefined') {
			// Use Mist/MetaMask's provider
			web3 = new Web3(web3_etz.currentProvider)
			web3.eth.getCoinbase(console.log)
		} else {
			console.log('No web3? You should consider trying MetaMask!')
			// fallback - use your fallback strategy (local node / hosted node + in-dapp id mgmt / fail)
			web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
		}

		// Now you can start your app & access web3 freely:

	})
</script>

<script src="/javascripts/zepto.min.js"></script>
<script src="/javascripts/dropload.js"></script>
<script type="text/javascript" src="/javascripts/jquery.min.js "></script>
<script src="/javascripts/jquery.simplePagination.js"></script>
<script type="text/javascript" src="/javascripts/layout.js"></script>
<script src="/javascripts/vote.js"></script>
</html>