<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
	<title>提交提案</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<div class="content">
		<div class="register_header">
			<div class="title tada">
				<img src="/images/title.png" alt="">
			</div>	
		</div>
		<div class="register_item">
			<div class="reitems">
				<p class="refont">提案名称:</p>
				<input type="text" class="reinput proposal_name" placeholder="请填写提案名称">
			</div>
			<div class="reitems">
				<p class="refont">链接地址:</p>
				<input type="text" class="reinput proposal_link" placeholder="提案的链接地址" maxlength="30">
			</div>
			<div class="reitems">
				<p class="refont">支付地址:</p>
				<input type="text" class="reinput addr" placeholder="资助支付钱包地址" maxlength="10">
			</div>
			<div class="reitems">
				<p class="refont">资助数量:</p>
				<input type="text" class="reinput applyAmount" placeholder="资助以太零的数量"maxlength="10">
			</div>
			<div class="reitems">
				<p class="refont">发放周期:</p>
				<input type="text" class="reinput sendPeriod" placeholder="资助发放周期" maxlength="10">
			</div>
			<div class="rebtn">
				提交
			</div>
		</div>
		
	</div>
</body>
<script src="/javascripts/prefixfree.min.js"></script>
<script src="/javascripts/zepto.min.js"></script>
<script src="/javascripts/vote.js"></script>
</html>