html,
body,
div,
h1,
h2,
h3,
img,
p,
ul,
li,
section,
header,
span {
    margin: 0;
    padding: 0;
}

section {
    display: block;
}

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    text-decoration: none;
}

html {
    font-size: 10px;
}

body {
    background:url(../images/bj.png) repeat;
    font-size: 1.2em;
    font-family: Helvetica, sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

a {
    color: #fff;
    text-decoration: none;
}

.header,.lists {
    width: 60%;
}

.header {
    height: 80px;
    padding: 1px;
    position: relative;
    margin: 0 auto;
}
.header_bg{
    background: #2a2d37;
}

.rule, .sign_in{
    width: 80px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 5px;
}

.sign_in {
    left: 5px;
}

.rule span, .sign_in span {
    border-bottom: 1px solid #ffffff;
    font-size: 16px;
    color: #ffffff;
}

.rulebtn{
    height: 36px;
	line-height: 0.36px;
	width: 120px;
	background: #008eea;
	border-radius: 6px;
	border: 0;
	margin: 0.2rem auto 0.5rem;
	text-align: center;
	color: #FFFFFF;
	font-size: 16px;
	cursor: pointer;
}

.title {
    text-align: center;
    font-size: 85px;
    font-weight: bolder;
    color: #FFE027;
    text-shadow: 8px 4px 3px #fff;
    margin: 50px auto 0;
    width: 250px;
}

.title img {
    width: 50%;
    height: auto;
}

.logo{
    line-height: 80px;
    float: left;
}

.logo img {
    width: 146px;
    height: auto;
    vertical-align: middle;
}

.register {
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-image: linear-gradient(0deg, #1f222c 0%, #393d4b 100%);
    position: absolute;
    margin: 20px auto;
    right: 100px;
    top: 0;
}

.search {
    width: 50%;
    height: 40px;
    margin: 20px auto;
    font-size: 0px;
    float: none;
    text-align: center;
}

.search input {
    border: 0;
    height: 100%;
    width: calc(100% - 120px);
    font-size: 16px;
    color: #5b6277;
    text-indent: 15px;
    outline: none;
    vertical-align: middle;
    background-color: #3b3f4d;
	box-shadow: 0px 0px 0px 0px 
		rgba(87, 90, 99, 0.7), 
		inset 0px 0px 6px 0px 
		rgba(19, 20, 25, 0.49);
}

.search span {
    display: inline-block;
    width: 120px;
    height: 100%;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(0deg, 
    #1f222c 0%, 
    #393d4b 100%);
    vertical-align: middle;
    cursor: pointer;
}

.lists {
    margin: 30px auto 0;
}


.lists li {
    list-style: none;
    padding: 17px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #e3e3e3;
    margin: 20px auto;
    overflow: hidden;
    background: #fff;
}

#dark-pagination{
    margin: 50px auto;
    width: 100%;
}

#dark-pagination li{
    background: none;
    border: 0;
}

.coming-box{
    width: 65%;
    float: left;
    margin-right: 20px;
}

.right_box{
    width: calc(35% - 20px);
    float: right;
}

.show_box,.rule_box{
    background: #ffffff;
    padding: 20px;
    margin: 20px auto;
}

.show_box .num_box{
    margin: 20px auto;
    text-align: center;
}

.show_box .num_box div{
    color: #005fa4;
    font-size: 32px;
}
.show_box .num_box span{
    color: #3a4569;
    font-size: 16px;
}
.show_box .num_box p{
    color: #3a4569;
    font-size: 16px;
}

.rule_box h4{
    color: #3b3f4d;
    font-size: 18px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e5e5e5; 
}

.rule_box p{
    color: #999999;
    font-size: 14px;
}

.head {
    float: left;
    height: 56px;
}

.head {
    width: 56px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.head span {
    display: inline-block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #fff;
    background-color: #b9b9b9;
    border: 1px solid #adadad;
    position: absolute;
    right: 1px;
    bottom: -4px;
}

.head .ranking {
    background-color: #ffa800;
    border: 1px solid #ff6f05;
}

.descr {
    /* width: 100%; */
    color: #999;
    margin-left: 15px;
    float: left;
    /* padding-right: 137px; */
}

.descr div {
    color: #666;
    margin-top: 9px;
    font-size: 0px;
}

.descr div span {
    padding: 0px;
    vertical-align: middle;
}

.descr div span:first-child {
    font-size: 16px;
    color: #333;
    border: 0;
}

.descr div span:nth-child(2) {
    font-size: 16px;
    color: #999;
    margin: 5px;
}

.descr div span:last-child {
    font-size: 12px;
    color: #95afd2;
}

.descr p {
    font-size: 14px;
    margin: 9px 0 2px 0;
    height: auto;
    word-break: break-all;
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  */
    color: #999;
}

.descr span {
    font-size: 10px;
    padding-right: 16px;
    padding-left: 16px;
    box-sizing: border-box;
}

.descr span:first-child {
    padding-left: 0px;
    border-right: 1px solid #e3e3e3;
}

.talent {
    display: none;
}

.up {
    float: right;
    display: inline-block;
    font-size: 0;
}

.up i {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background: url('../images/up.png') no-repeat;
    vertical-align: middle;
}

.up span {
    font-size: 14px;
    vertical-align: middle;
    color: #7089a9;
    /* width: 70px; */
}

.vote {
    margin-top: 8px;
    text-align: center;
}
.vote_num {
    float: left;
    height: 28px;
    line-height: 28px;
    margin-right: 10px;
    background-color: #e7edf3;
    border-radius: 14px;
    /* width: 50px; */
    color: #7089a9;
    font-size: 14px;
    padding: 0 15px;
}

.btn {
    width: 70px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: #fff;
    font-size: 10px;
    border-radius: 20px;
    margin-top: 9px;
    background-color: #54ABE8;
    box-shadow: 0 2px rgba(127, 212, 245, 0.37);
}
.btn_vote{
    float: right;
    width: 66px;
    font-size: 14px;
}
.vote_box{
    overflow: hidden;
    margin: 20% auto;
}

/* .tada {
    -webkit-animation:  tada 1.5s;
    animation: tada 1.5s;
} */

@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    10%,
    20% {
        -webkit-transform: scale(0.9) rotate(-3deg);
        transform: scale(0.9) rotate(-3deg)
    }
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale(1.1) rotate(3deg);
        transform: scale(1.1) rotate(3deg)
    }
    40%,
    60%,
    80% {
        -webkit-transform: scale(1.1) rotate(-3deg);
        transform: scale(1.1) rotate(-3deg)
    }
    100% {
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0)
    }
}

@keyframes tada {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
    10%,
    20% {
        -webkit-transform: scale(0.9) rotate(-3deg);
        -ms-transform: scale(0.9) rotate(-3deg);
        transform: scale(0.9) rotate(-3deg)
    }
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale(1.1) rotate(3deg);
        -ms-transform: scale(1.1) rotate(3deg);
        transform: scale(1.1) rotate(3deg)
    }
    40%,
    60%,
    80% {
        -webkit-transform: scale(1.1) rotate(-3deg);
        -ms-transform: scale(1.1) rotate(-3deg);
        transform: scale(1.1) rotate(-3deg)
    }
    100% {
        -webkit-transform: scale(1) rotate(0);
        -ms-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0)
    }
}


/*报名页*/
.register_header {
    height: 170px;
    background: url('../images/bgone.png') no-repeat;
    background-size: 100% 100%;
    padding: 1px;
    position: relative;
}

.register_header .title {
    margin-top: 15px;
    font-size: 70px;
    width: 200px;
}

.gender input {
    -webkit-appearance: none; /* remove default */
    display: inline-block;
    margin: 10px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0,0%,0%,.5) 0 0 0 1px;
    background-color: #fff;
    background-image: -webkit-radial-gradient( hsla(200,100%,90%,1) 11%, hsla(200,100%,70%,1) 23%, hsl(200, 100%, 60%) 49%, hsl(200, 88%, 45%) 103% );
    background-repeat: no-repeat;
    -webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1),
    -webkit-transform .25s cubic-bezier(.8, 0, 1, 1);
}
.gender input:checked {
    -webkit-transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1),
    -webkit-transform .25s cubic-bezier(0, 0, .2, 1);
}
.gender input:active {
    -webkit-transform: scale(1.5);
    -webkit-transition: -webkit-transform .1s cubic-bezier(0, 0, .2, 1);
}



/* The up/down direction logic */

.gender input,
.gender input:active {
    background-position: 0 24px;
}
.gender input:checked {
    background-position: 0 0;
}
.gender input:checked ~ input,
.gender input:checked ~ input:active {
    background-position: 0 -24px;
}

.register_item {
    padding: 20px 30px;
    box-sizing: border-box;
}

.reitems {
    margin-bottom: 25px;
}

.refont {
    font-size: 18px;
    color: #44a1e2;
}

.reinput {
    width: 100%;
    height: 30px;
    outline: none;
    font-size: 16px;
    text-indent: 10px;
    color: #333;
    margin-top: 5px;
    border: 1px solid #8bcffe;
    border-radius: 5px;
}

.gender>div {
    height: 35px;
}

.gender span {
    font-size: 16px;
    color: #333;
    vertical-align: middle;
}

.rebtn {
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin: 20px auto;
    border-radius: 30px;
    color: #fff;
    font-size: 22px;
    text-align: center;
    background-color: #54ABE8;
    box-shadow: 0 2px rgba(127, 212, 245, 0.37);
}

/*个人主页*/
.personal {
    padding: 25px 20px;
}

.pl {
    width: 70%;
    float: left;
}

.p_descr {
    display: inline-block;
    width: 100px;
    font-size: 16px;
    color: #fff;
    margin-left: 10px;
}

.p_descr p:first-child {
    margin: 10px 0 5px 0;
}

.p_descr p:last-child {
    font-size: 14px;
}

.pr_descr p:first-child {
    color: #ff8b62;
    font-size: 32px;
    margin-top: -13px;
}

.pr {
    float: right;
}

.pr .pr_descr {
    width: 50px;
    text-align: right;
}

.motto {
    width: 90%;
    text-align: center;
    color: #FFF382;
    font-size: 20px;
    margin: 65px auto 0 auto;
}

.home {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 133px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
}

.vfriend {
    font-size: 0px;
    text-align: center;
    margin-top: 50px;
}

.line {
    display: inline-block;
    height: 1px;
    width: 90%;
    background-color: #ff8b62;
    vertical-align: middle;
}

.dot {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ff8b62;
    vertical-align: middle;
}

.vfriend div {
    display: inline-block;
    width: 31%;
    vertical-align: middle;
}

.vfriend div:nth-child(2) {
    width: 28%;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 30px;
    color: #fff;
    font-size: 10px;
    background-color: #ff8b62;
    margin: 0 5px;
}

.vflist {
    margin-top: 30px;
    overflow: hidden;
}

.vflist li {
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
}

.vflist li:last-child {
    margin-bottom: 10px;
}

.vflist .head {
    width: 45px;
    height: 45px;
}

.vflist .descr {
    margin-left: 56px;
    box-sizing: border-box;
    padding-top: 1px;
}

.vflist .descr h3 {
    font-size: 14px;
    margin-top: 7px;
    color: #333;
    font-weight: inherit;
}

.vflist .descr p {
    font-size: 12px;
    margin-top: 4px;
}

.vflist .vote span {
    color: #333;
}

/*活动介绍*/
.content .vrule {
    margin-top: 20px;
}

.rulec {
    padding: 18px 20px;
    margin: 0 auto;
    text-align: center;
}

.rulec div {
    font-size: 16px;
    text-align: center;
    margin: 20px;
    color: #ffffff;
}

.bounceIn {
    animation:bounceIn .8s;
    -webkit-animation:bounceIn .8s;
}

@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
        transform: scale(.3)
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    70% {
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
        -ms-transform: scale(.3);
        transform: scale(.3)
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05)
    }
    70% {
        -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
        transform: scale(.9)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

.mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(23, 21, 21, 0.71);
    display: none;
}

.submit_info {
    width: 70%;
    height: 180px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    margin-top: -90px;
    left: 50%;
    margin-left: -35%;
    overflow: hidden;
}

.sub_title {
    font-size: 16px;
    margin-top: 10px;
    color: #555;
    text-align: center;
}

.submit_info .reitems {
    width: 80%;
    margin: 7px auto;
}

.submit_info .reinput {
    height: 24px;
    font-size: 14px;
}

.subbtn {
    width: 65px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    margin: 12px auto;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    background-color: #54ABE8;
    box-shadow: 0 2px rgba(127, 212, 245, 0.37);
}

.no_info {
    text-align: center;
    font-size: 12px;
}

.no_info span:first-child {
    color: #555;
}

.no_info span:last-child {
    font-size: 14px;
    color: #ff8b62;
    text-decoration: underline;
}

.nodata {
    margin: 20px;
    text-align: center;
    font-size: 18px;
    color: #ccc;
    display: none;
}

.signed p:first-child{
    text-align: center;
    margin: 20px;
    font-size: 30px;
    color: #FF5555;
}

.signed .username{
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.dropout {
    width: 85px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #54ABE8;
    box-shadow: 0 2px rgba(127, 212, 245, 0.37);
}
/* language */
.mobnav-btn {
	display:block;
	width:25px;
	height:23px;
	overflow:hidden;
	cursor:pointer;
	position:absolute;
	top:16px;
	left:8px;
}
.mobnav-btn span {
	top:50%;
	margin-top:-2px;
}
.mobnav-btn span:first-child {
	content:"";
	top:6px;
	left:0;
}
.mobnav-btn span:last-child {
	content:"";
	top:auto;
	bottom:5px;
	left:0;
}
.mobnav-btn span,.mobnav-btn span:first-child,.mobnav-btn span:last-child {
	left:2px;
	position:absolute;
	background:rgba(255,255,255,0.9);
	-webkit-transition:all 0.5s ease;
	width:25px;
	height:2px;
	border-radius:3px;
	transition:all 0.5s ease;
}
.dropdown {
	top:0.04rem;
	top:0;
	position:absolute;
	right:0.2rem;
	padding:0;
}
.dropdown-menu {
	left:-0.5rem;
	top:0.8rem;
}
.dropdown {
	text-decoration:none;
	float:right;
    height:auto;
    padding-top: 30px;
    font-size: 16px;
    width: 80px;
    text-align: center;
}
.dropdown ul{
    margin-top:5px;
}
.dropdown ul .active a{
    color: #00fdfa;
}
.dropdown li{
    list-style: none;
    height: 35px;
    line-height: 35px;
    background: #1f222c;
    text-align: center;
}
.dropdown li a{
    color: #487085;
}
.dropdown-toggle {
	color:#00fdfa !important;
	cursor:pointer;
	outline:none;
	border:0 !important;
}
.dropdown-toggle:hover,.dropdown-toggle:focus {
	color:#00fdfa;
}
.dropdown a {
	text-decoration:none;
	cursor:pointer;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

@media screen and (max-width:1200px) {
    .logo{
        float: none;
        margin: 0 auto;
    }
    .register{
        right: 0;
    }
    .register{
        margin: 20px auto;
        position: inherit;
    }
    .search {
        width: 100%;
        margin: 20px auto;
    }
    .header{
        height: auto;
        width: 90%;
    }
    .coming-box,.right_box{
        float: none;
        width: 100%;
    }
}

@media screen and (max-width:760px) {
    .search input{
        font-size: 14px;
    }
    .lists {
        width: 95%;
    }
    .vote_box{
        /* float: left; */
        margin: 0 auto;
    }
    /* .vote_box:nth-child(2){
        float: right;
    } */
    .up{
        width: 100%;
    }
    .descr {
        padding: 0;
        width: 75%;
    }
    .descr p{
        width: 100%;
    }
}